<!doctype html>
<html lang="en" dir="ltr">
<head>
	<title>Split Text | GUI Challenges</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="color-scheme" content="dark light">

	<script type="module" src="./animate-text.js"></script>
	<link rel="stylesheet" href="./styles.css">
</head>
<body>

	<section>
		<h1>
			<animate-text animation="breath">animated letters</animate-text>
		</h1>
	</section>

	<section>
		<h1>
			<animate-text animation="hover">hover-me letters</animate-text>
		</h1>
	</section>

	<section>
		<p>
			<animate-text animation="trampoline">split a paragraph of content 🤘💀</animate-text>
		</p>
	</section>

	<section>
		<h1>
			<animate-text animation="reveal">hover the words</animate-text>
		</h1>
	</section>
</body>
</html>
